<section class="page-section page_section--results animated fadeIn">
    <h2 class="page-section__title">
		Ranking
	</h2>
	<div class="pull-left">
		<label>Edycja &nbsp;</label>
		<div
				class="btn-group"
				uib-dropdown>
			<button
					type="button"
					class="btn btn-primary"
					uib-dropdown-toggle>
				{{$ctrl.selectedEdition.nameSuffix}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
				<li
						ng-repeat="edition in $ctrl.editions"
						ng-class="{
						'competition--selected': edition.nameSuffix === $ctrl.selectedEdition.nameSuffix
					}"
						>
					<a ng-click="$ctrl.handleSelectEdition(edition)">
						{{edition.nameSuffix}}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="pull-left">
		<label>&nbsp; Konkurencja &nbsp;</label>
		<div
			class="btn-group"
			uib-dropdown>
			<button
				type="button"
				class="btn btn-primary"
				uib-dropdown-toggle>
				{{$ctrl.selectedCompetition.name}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
				<li
					ng-repeat="competition in $ctrl.competitions"
					ng-class="{
						'competition--selected': competition.name === $ctrl.selectedCompetition.name
					}">
					<a ng-click="$ctrl.handleSelectCompetition(competition)">
						{{competition.name}}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="pull-right">
		<button
			class="btn btn-primary results__fullscreen"
			ng-click="$ctrl.goFullscreen()">
			<i class="glyphicon glyphicon-fullscreen"></i>
		</button>
	</div>
	<br><br>
	<table class="table">
		<thead>
			<tr>
				<th>Lp.</th>
				<th>Robot</th>
				<th>Właściciel</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'linefollower'">Wynik</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'sumo'" title="Ilość meczy">M</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'sumo'" title="Zwycięstwa">Z</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'sumo'" title="Porażki">P</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'sumo'" title="Wygrane walki">WW</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'sumo'" title="Punkty">Pkt</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'freestyle'">Pierwszy</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'freestyle'">Drugi</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'freestyle'">Trzeci</th>
				<th ng-if="$ctrl.selectedCompetitionType === 'freestyle'" title="Punkty">Pkt</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-hide="$ctrl.results.length">
				<td colspan="4">
					Brak wyników dla wybranej konkurencji
				</td>
			</tr>
			<tr ng-repeat="item in $ctrl.results track by $index">
				<td>
					<strong>{{$index + 1}}</strong>
				</td>
				<td>
					<strong class="text-primary">
						{{item.robot.name}}
					</strong>
				</td>
				<td>
					{{item.robot.owner.login}}
				</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'linefollower'">
					<strong class="text-primary">
						{{item.normalizedResult}}
					</strong>
				</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'sumo'">{{item.played}}</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'sumo'">{{item.win}}</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'sumo'">{{item.lost}}</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'sumo'">{{item.fightsWon}}</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'sumo'">
					<strong class="text-primary">
						{{item.points}}
					</strong>
				</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'freestyle'">{{item.firstPlaceCount}}</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'freestyle'">{{item.secondPlaceCount}}</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'freestyle'">{{item.thirdPlaceCount}}</td>
				<td ng-if="$ctrl.selectedCompetitionType === 'freestyle'">
					<strong class="text-primary">
						{{item.points}}
					</strong>
				</td>
			</tr>
		</tbody>
	</table>
</section>
