@import '../../common/scss/variables';
@import '../../common/scss/mixins';

.robot-image {
	width: 100px;
}

.robot-image__image {
	width: 100px;
}

.robot-image__placeholder {
	background: $grey-2;
	width: 100px;
	height: 100px;
	display: block;
	text-align: center;
	box-sizing: border-box;
	padding-top: 30px;

	i {
		font-size: 32px;
		color: $grey-6;
	}
}
