<section class="page-section page_section--contact animated fadeIn">
    <h2 class="page-section__title">
		Uczestnicy
	</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Nazwa robota</th>
				<th>Właściciel</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="robot in ::$ctrl.robots track by $index">
				<td class="robot-image">
					<img
						class="robot-image__image"
						ng-if="robot.robotImagePath"
						ng-src="{{::robot.robotImagePath}}" />
					<span
						ng-if="!robot.robotImagePath"
						class="robot-image__placeholder">
						<i class="glyphicon glyphicon-picture glyphicon-2x"></i>
					</span>
				</td>
				<td>
					<strong class="text-primary">
						{{::robot.name}}
					</strong>
				</td>
				<td>{{::robot.owner.login}} &ndash; {{::robot.owner.login}}</td>
			</tr>
		</tbody>
	</table>
</section>
