<section class="page-section page-section--competition animated fadeIn">
	<h2 class="page-section__title">
		Zawody
	</h2>
    <div class="page-section__content row">
		<div class="col-md-8">
	        <p class="section-paragraph">
	            <strong>Robot Challenge 2016</strong>
				to zawody skupiające się na robotyce i sztucznej inteligencji,<br>
				skierowane do uczniów szkół średnich oraz studentów.<br/>
				<strong class="pull-down">
					Zawody dają szansę uczestnikom:
				</strong>
	            <ul class="list">
	                <li class="list__item">Zmierzenia się z innymi utalentowanymi uczniami i studentami,</li>
	                <li class="list__item">prezentacji własnoręcznie skonstruowanych robotów,</li>
	                <li class="list__item">rywalizacji o atrakcyjne nagrody.</li>
	            </ul>
	        </p>
		</div>
		<div class="col-md-4">
        	<img class="competitions__image hidden-xs hidden-sm" src="/common/img/robot-4.png"></img>
		</div>
    </div>
    <h2 class="page-section__title">
		Konkurencje
	</h2>
    <div class="page-section__content">
        <div class="row">
			<div class="competitions__item">
	            <div class="col-lg-3">
	                <img class="hidden-xs hidden-sm hidden-md image--full-size" src="/common/img/robot-1.jpeg"></img>
	            </div>
	            <div class="col-lg-9">
	                <h3>
						<strong>Linefollower</strong>
					</h3>
	                <p>
	                    Robot ma za zadanie w jak najkrótszym czasie pokonać wytyczoną na podłożu trasę.
	                </p>
	            </div>
			</div>
        </div>
        <div class="row">
			<div class="competitions__item">
				<div class="col-lg-3">
	                <img class="hidden-xs hidden-sm hidden-md image--full-size" src="/common/img/robot-2.jpeg"></img>
	            </div>
	            <div class="col-lg-9">
	                <h3>
						<strong>Sumo</strong>
					</h3>
	                <p>
	                    Dwa roboty umieszczone na macie po sygnale startowym mają za zadanie sprawić,
						by przeciwnik jako pierwszy wypadł z maty. Roboty występują w różnych kategoriach wagowych i rozmiarowych.
	                </p>
	            </div>
			</div>
        </div>
        <div class="row">
			<div class="competitions__item">
	            <div class="col-lg-3">
	                <img class="hidden-xs hidden-sm hidden-md image--full-size" src="/common/img/robot-3.jpeg"></img>
	            </div>
	            <div class="col-lg-9">
	                <h3>
						<strong>Freestyle</strong>
					</h3>
	                <p>
	                    Roboty będące autorskimi konstrukcjami.
						Ich zadaniem jest zaskoczenie i zadziwienie zarówno widzów jak i jurorów.
	                </p>
	            </div>
			</div>
        </div>
    </div>
</section>
