@import '../../common/scss/variables';
@import '../../common/scss/mixins';

.competitions__item {
	overflow: hidden;
	margin: 0 15px 15px;
	padding: 15px 0;
	border: 1px solid $grey-3;
	border-radius: 4px;
}

.competitions__image {
	max-height: 200px;
}
