@import '../../common/scss/variables';
@import '../../common/scss/mixins';

.home__jumbotron {
	@include subtle-shadow($grey-4);
	background: $grey-0;
	padding-top: 28px;
	padding-bottom: 28px;
	margin-bottom: 15px;
}

.home-jumbotron__image-container {
	text-align: center;

	> img {
		max-height: 335px;
	}
}

.home-jumbotron__caption-container {

	.btn {
		margin-top: $dim-md;
	}

	@media screen and (max-width: $break-md) {
		text-align: center;
	}
}

.home-jumbotron__caption {
	font-size: 24px;
	margin-bottom: $dim-lg;
}

.home-jumbotron__caption__strong {
	font-size: 36px;
	display: block;
	color: $blue-dark;
	margin: $dim-sm 0;
}

.home-content__section {
	background: none;
}

.home-content-section__title {
	color: $blue-dark;
	text-align: center;
	margin-bottom: $dim-lg;
}

.home-content-section__image-container {
	text-align: center;
	height: 200px;

	> img {
		max-height: 200px;
		max-width: 100%;
	}
}

.home-content-section__inner {
	height: 320px;

	@media screen and (max-width: $break-xl) {
		height: 340px;
	}

	@media screen and (max-width: $break-lg) {
		height: auto;
		margin-bottom: 30px;
	}

	strong {
		color: $blue-dark;
	}
}

.home-content__item {
	@media screen and (max-width: $break-lg) {
		margin-bottom: 0;
	}

	@media screen and (min-width: $break-lg) {
		&:first-child {
			padding-right: 7.5px;
		}

		&:nth-child(2) {
			padding-right: 7.5px;
			padding-left: 7.5px;
		}

		&:last-child {
			padding-left: 7.5px;
		}
	}
}

.home-content-section__title--news {
	margin: 0 0 25px;
}

.news__item__image img {
	width: 100%;
	max-width: 300px;
}
