<section
	class="animated fadeIn"
	id="main_page_section">
    <div class="jumbotron home__jumbotron">
        <div class="row">
            <div
				class="col-lg-4 hidden-md hidden-sm hidden-xs home-jumbotron__image-container">
                <img src="/common/img/robot-4.png">
            </div>
            <div class="col-lg-8 home-jumbotron__caption-container">
                <h2 class="home-jumbotron__caption">
					Zapraszamy na
					<strong class="home-jumbotron__caption__strong">
						Pierwsze Zawody Robotów
					</strong>
					<small>
						w Zespole Szkół Łączności w Krakowie
					</small>
				</h2>
				<h2>
					<small>
						5 listopad 2016r.
					</small>
				</h2>
                <h3 class="lead home-jumbotron__subcaption">
					Zbuduj własnego robota<br/>
					i weź udział w niesamowitych konkurencjach!
				</h3>
				<a
					class="btn btn-lg btn-success"
					ng-if="context.selectedEdition.registrationOpened"
					ng-href="/panel/login/#/registration">
					Rejestracja
				</a>
				<a
					class="btn btn-lg btn-success"
					ng-if="!context.selectedEdition.registrationOpened"
					disabled>
					Rejestracja
				</a>
				<a class="btn btn-lg btn-info" href="http://rc.tl.krakow.pl/panel/login/">
					Logowanie
				</a>
            </div>
        </div>
    </div>
	<div class="row home__news">
		<h2 class="col-xs-12 page-section__title">
			Newsy
		</h2>
		<div class="news-list col-xs-12">
			<div
				class="panel panel-default news-list__element"
				ng-repeat="news in ::$ctrl.homeNews.items track by $index">
				<div class="panel-heading">
					<strong>{{::moment(news.createDateTime).format('DD MMMM YYYY HH:mm')}}</strong>
					<span ng-if="::news.authorLogin">
						(dodany przez: <a href="mailto:{{::news.authorLogin}}">{{::news.authorLogin}}</a>)
					</span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<h4 class="text-primary">{{::news.title}}</h4>
							<p ng-bind-html="news.text"></p>
						</div>
						<div
							class="news__item__image col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<img ng-src="common/img/robot-{{$index + 1}}.jpeg" />
						</div>
					</div>
				</div>
			</div>
			<button
				class="btn btn-primary btn-block"
				ui-sref="news">
				Zobacz wszystkie newsy
			</button>
			<br>
        </div>
	</div>
</section>
