<section class="page-section page_section--contact animated fadeIn">
    <h2 class="page-section__title">
		Kontakt
	</h2>
    <div class="page-section__content">
        <img src="/common/img/contact_zsl.png"></img>
		<p class="pull-down">
            <strong>Zespół Szkół Łączności</strong>
			<br>
            <span>
                ul. Monte Cassino 31<br/>
                30-337 Kraków<br/>
            </span>
            <strong class="pull-down">Email:</strong>
            <a href="mailto:rc@tl.krakow.pl">rc@tl.krakow.pl</a>
		</p>
    </div>
	<br>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.110476119599!2d19.919188466153013!3d50.046761729421725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5d25c4b488e7d88!2zVGVjaG5pa3VtIMWBxIVjem5vxZtjaSBuciAxNA!5e0!3m2!1spl!2spl!4v1488148271946"
			frameborder="0"
			style="border:0"
			allowfullscreen>
	</iframe>
</section>
