@import './variables';
@import './mixins';

.pull-down {
	display: block;
	margin-top: $dim-md;
}

.list {
	list-style-type: none;
	padding-left: $dim-lg;
}

.list__item {
	position: relative;
	margin-bottom: $dim-sm;
}

.list__item::before {
	@include position-absolute(8px, auto, auto, -18px);
	content: '';
	width: 6px;
	height: 6px;
	background-color: $blue-dark;
	display: block;
}

.page-section__title {
	color: $blue-dark;
	margin-bottom: 20px;
}

.page-section__content {
	strong {
		color: $blue-dark;
	}
}

.image--full-size {
	width: 100%;
}

.dropdown-menu a {
	cursor: pointer;
}
