@import './vendor/angular-loading-bar';
@import './variables';
@import './common';
@import './mixins';


.app__container-outer {
	background-color: $grey-0;
}

.app__container-inner {
	@include subtle-shadow($grey-4);
	background-color: $white;
	padding: 0 $dim-md;
	margin: $dim-md auto;
}

.fullscreen {
	header,
	footer,
	.results__fullscreen,
	.nav {
		display: none;
	}
}

.header__title {
	margin-top: 0;
}

.header__title__image {
	width: 70%;
	display: block;
	margin: 0 auto;
}

.header__subtitle {
	text-align: center;
	margin: 0 0 $dim-lg;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	color: $grey-6;
}

.navigation {
	margin-bottom: $dim-md;
}

.navigation__element {

	&:first-child a {
		border-radius: 6px 0 0 6px;

		@media screen and (max-width: $break-md) {
			border-radius: 0;
		}
	}

	&:last-child a {
		border-width: 2px;
		border-radius: 0 6px 6px 0;

		@media screen and (max-width: $break-md) {
			border-radius: 0;
		}
	}

	> a {
		color: $blue-dark;
		border-style: solid;
		border-color: $blue-dark;
		border-width: 2px 0 2px 2px;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		transition: all .2s linear;

		&:hover,
		&.active {
			color: $white;
		}

		&:hover {
			//@HACK: bootstrap navigation hack
			background: lighten($blue-dark, 15) !important;
		}

		&.active {
			//@HACK: bootstrap navigation hack
			background: $blue-dark !important;
		}

		@media screen and (max-width: $break-md) {
			border-width: 2px;
		}
	}
}

.footer {
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: -15px;
	margin-right: -15px;
	border-top: 1px dotted $grey-3;
	background: $grey-0;
}
