@mixin position-absolute($top, $right, $bottom, $left) {
	position: absolute;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin position-relative($top, $right, $bottom, $left) {
	position: relative;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin position-fixed($top, $right, $bottom, $left) {
	position: fixed;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin subtle-shadow($color) {
	box-shadow: 0 0 3px $color;
}

@mixin inset-shadow($color) {
	box-shadow: inset 0 0 3px $color;
}

@mixin text-hover-shadow($color, $size) {
	text-shadow: 0 0 $size $color, 0 0 $size $color;
}

@mixin inline-block($vertical-align) {
	display: inline-block;
	vertical-align: $vertical-align;
}

@mixin clearfix() {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

@mixin overflow-ellipsis() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin flex-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}
