//
//  MEDIA BREAKPOINTS
//
$break-xs: 320px;
$break-sm: 480px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

//
//  COLORS
//
$blue: rgb(0, 179, 193);
$orange: rgb(217, 111, 39);
$yellow: rgb(242, 175, 48);
$blue-dark: #003759;

$white: #fff;
$black: #000;

$grey-0: #f7f7f7;
$grey-1: #f2f2f2;
$grey-2: #efefef;
$grey-3: #e5e5e5;
$grey-4: #d9d9d9;
$grey-5: #999;
$grey-6: #808080;
$grey-7: #666;
$grey-8: #4d4d4d;

$opacity-1: rgba(0, 0, 0, .075);
$opacity-2: rgba(0, 0, 0, .084);
$opacity-3: rgba(0, 0, 0, .098);
$opacity-4: rgba(0, 0, 0, .14);
$opacity-5: rgba(0, 0, 0, .24);
$opacity-6: rgba(0, 0, 0, .48);
$opacity-7: rgba(0, 0, 0, .58);


//
//  DIMENSIONS
//
$dim-sm: 7px;
$dim-md: 15px;
$dim-lg: 30px;


//
//  Z-INDEX
//
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;

//
//  FONTS
//
$luckiest-guy: 'Luckiest Guy', cursive;
