<section class="page-section page_section--news animated fadeIn">
    <h2 class="page-section__title">
		Newsy
	</h2>
    <div class="page-section__content">
        <div class="news-list">
			<div
				class="panel panel-default news-list__element"
				ng-repeat="news in ::$ctrl.news.items">
				<div class="panel-heading">
					<strong>{{::moment(news.createDateTime).format('DD MMMM YYYY HH:mm')}}</strong>
					<span ng-if="::news.authorLogin">
						(dodany przez: <a href="mailto:{{::news.authorLogin}}">{{::news.authorLogin}}</a>)
					</span>
				</div>
				<div class="panel-body">
					<h4 class="text-primary">{{::news.title}}</h4>
					<p ng-bind-html="news.text"></p>
				</div>
			</div>
        </div>
    </div>
</section>
