<footer class="footer">
	<a
		class="footer-item btn btn-md btn-link"
		href="http://tl.krakow.pl">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		&nbsp;Zespół Szkół Łączności
	</a>
	<a
		class="footer-item btn btn-md btn-link"
		ui-sref="location">
		<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
		&nbsp;Lokalizacja
	</a>
	<a
		class="footer-item btn btn-md btn-link"
		ui-sref="contact">
		<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		&nbsp;Kontakt
	</a>
</footer>
