<header id="nav-container header">
	<h1 class="title header__title">
		<img
			class="header__title__image"
			src="common/img/logo.png" alt="" />
	</h1>
</header>
<ul class="nav nav-justified navigation">
	<li class="navigation__element">
		<a
			ui-sref="root.home"
			ui-sref-active="active">
			<i class="glyphicon glyphicon-home" aria-hidden="true"></i>
			&nbsp;Strona&nbsp;Główna
		</a>
	</li>
	<li class="navigation__element">
		<a
			ui-sref="root.news"
			ui-sref-active="active">
			<i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i>
			&nbsp;Newsy
		</a>
	</li>
	<li class="navigation__element">
		<a
			ui-sref="root.competitions"
			ui-sref-active="active">
			<i class="glyphicon glyphicon-list" aria-hidden="true"></i>
			&nbsp;Konkurencje
		</a>
	</li>
	<li
		class="navigation__element">
		<a
			ui-sref="root.results"
			ui-sref-active="active">
			<i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
			&nbsp;Ranking
		</a>
	</li>
	<li
		class="navigation__element"
		ng-if="context.selectedEdition.registrationOpened">
		<a
			ui-sref="root.participants"
			ui-sref-active="active">
			<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
			&nbsp;Uczestnicy
		</a>
	</li>
	<li
		class="navigation__element">
		<a
			ui-sref="root.rules"
			ui-sref-active="active">
			<i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
			&nbsp;Regulamin
		</a>
	</li>
	<li class="navigation__element">
		<a
			ui-sref="root.sponsors"
			ui-sref-active="active">
			<i class="glyphicon glyphicon-star" aria-hidden="true"></i>
			&nbsp;Sponsorzy
		</a>
	</li>
	<li class="navigation__element">
		<a
			ui-sref="root.contact"
			ui-sref-active="active">
			<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
			&nbsp;Kontakt
		</a>
	</li>
</ul>
