<section class="page-section page-section--competition animated fadeIn">
	<h2 class="page-section__title">
		Regulamin ogólny
	</h2>
    <div class="page-section__content row">
		<div class="col-md-8">
	        <p class="section-paragraph">
				<ol>
					<li>
						<span>W zawodach może wziąć udział każda osoba uczęszczająca do szkoły średniej, gimnazjum lub szkoły podstawowej.</span>
					</li>
					<li>
						<span>Prezentowane przez zawodników roboty oraz ich algorytm sterujący muszą być ich samodzielną pracą.</span>
					</li>
					<li>
						<span>Zespoły mogą liczyć co najwyżej 3 osoby.</span>
					</li>
					<li>
						<span>Robot nie może stanowic zagrożenia dla osób znajdujących się w ich otoczeniu.</span>
					</li>
					<li>
						<span>W nierozstrzygniętych i nietypowych sytuacjach prawo do podjęcia decyzji o dalszym przebiegu zawodów posiada sędzia główny.</span>
					</li>
					<li>
						<span>Działanie robota musi być niezależne od czynników zewnętrznych (np. oświetlenia).</span>
					</li>
					<li>
						<span>Robot musi być w pełni autonomiczny (nie może być sterowany przez człowieka, urządzenie zewnętrzne itp.).</span>
					</li>
					<li>
						<span>Dodatkowo roboty muszą spełniać kryteria kategorii w których biorą udział.</span>
					</li>
				</ol>
	        </p>
		</div>
		<div class="col-md-4">
        	<img class="rules__image hidden-xs hidden-sm" src="/common/img/robot-4.png"></img>
		</div>
    </div>
    <h2 class="page-section__title">
		Regulamin konkurencji
	</h2>
    <div class="page-section__content">
        <div class="row">
			<div class="rules__item">
	            <div class="col-lg-3">
	                <img class="hidden-xs hidden-sm hidden-md image--full-size" src="/common/img/robot-1.jpeg"></img>
	            </div>
	            <div class="col-lg-9">
	                <h3>
						<strong>Standard Linefollower</strong>
					</h3>
					<ol>
						<li>
							<span>Robot ma za zadanie w jak najkrótszym czasie pokonać wytyczoną na podłożu trasę.</span>
						</li>
						<li>
							<span>Rozmiar robota nie powinien przekraczać szerokości oraz wysokości kartki A4.</span>
						</li>
						<li>
							<span>Zabronione jest stosowanie w robocie turbin poprawiających przyczepność.</span>
						</li>
						<li>
							<span>Robot nie może niszczyć trasy.</span>
						</li>
						<li>
							<span>Rozgrywka odbywa się na jednej trasie.</span>
						</li>
						<li>
							<span>Trasa to czarna linia (o szerokości ~18 mm) na białym tle.</span>
						</li>
						<li>
							<span>Trasa może składać się z prosych odcinków, łuków oraz kątów prostych.</span>
						</li>
						<li>
							<span>Maksymalny czas przejazdu to 120 sekund.</span>
						</li>
						<li>
							<span>Robot w trakcie pokonywania trasy nie może pozostawiać żadnych części stanowiących jego budowę.</span>
						</li>
						<li>
							<span>W trakzie zawodów będzie dostępna trasa umożliwiająca przetestowanie robotów.</span>
						</li>
					</ol>
	            </div>
			</div>
        </div>
        <div class="row">
			<div class="rules__item">
				<div class="col-lg-3">
	                <img class="hidden-xs hidden-sm hidden-md image--full-size" src="/common/img/robot-2.jpeg"></img>
	            </div>
	            <div class="col-lg-9">
	                <h3>
						<strong>Mini Sumo</strong>
					</h3>
	                <ol>
						<li>
							<span>Runda trwa maksymalnie 60 sekund jeśli w tym czasie wynik nie zostanie rozstrzygnięty ogłaszany jest remis.</span>
						</li>
						<li>
							<span>Rozgrywka rozpoczyna się losowaniem która z drużyn jako pierwsza ustawi swojego robota. W kolejnej rundzie jako pierwszy swojego robota ustawia zwycięzca poprzedniej rundy.</span>
						</li>
						<li>
							<span>W przypadku rozgrywania konkurencji w systemie mecz/rewanż, jako pierwszy robota ustawia "gospodarz".</span>
						</li>
						<li>
							<span>Robot wygrywa pojedynek gdy wygra 3 walki.</span>
						</li>
						<li>
							<span>Start robota odbywa się po 5 sekundach od znaku sędziego.</span>
						</li>
						<li>
							<span>Robot nie może gubić swoich części w czasie walki.</span>
						</li>
						<li>
							<span>Robot nie może niszczyć ringu po którym się porusza.</span>
						</li>
						<li>
							<span>Jeśli robot będzie nieruchomy przez 10 sekund przegrywa walkę.</span>
						</li>
						<li>
							<span>Maksymalne wymiary robota to 10x10cm.</span>
						</li>
						<li>
							<span>Maksymalna waga robota to 500g.</span>
						</li>
					</ol>
	            </div>
			</div>
        </div>
        <div class="row">
			<div class="rules__item">
	            <div class="col-lg-3">
	                <img class="hidden-xs hidden-sm hidden-md image--full-size" src="/common/img/robot-3.jpeg"></img>
	            </div>
	            <div class="col-lg-9">
	                <h3>
						<strong>Freestyle</strong>
					</h3>
	                <ol>
						<li>
							<span>Konkurencja Freestyle pozwala na zaprezentowanie konstrukcji, które są powiązane z robotyką, elektroniką, mechatroniką lub innymi naukami pokrewnymi.</span>
						</li>
						<li>
							<span>Zwycięzca zostaje wybrany przez organizatorów, zawodników oraz widzów.</span>
						</li>
					</ol>
	            </div>
			</div>
        </div>
    </div>
</section>
