#current_sponsors_section {
	float: right;
	margin-left: 20px;

	width: 400px;
}

#current_sponsors_list {
	float: right;
	margin-left: 20px;

	padding: 10px;

	width: 400px;
}

.current_sponsors_list_item {
	background-size: contain;
	border: 1px solid #BBB7C8;
	border-radius: 10px;

	margin-bottom: 10px;

	padding: 5px;

	text-align: center;
}

.current_sponsors_list_item > a > img {
	max-width: 370px;
}

#sponsors_page_section > .page-section-content > div {
	text-align: justify;
}
