<section class="page-section page-section--sponsors animated fadeIn">
    <h2 class="page-section__title">
		Sponsorzy
	</h2>
    <div class="page-section__content pull-down">
        <div id="current_sponsors_section">
            <div id="current_sponsors_list">
                <div class="current_sponsors_list_item">
                    <a href="http://akamai.com" target="_blank">
                        <img class="hidden-xs hidden-sm" src="/common/img/akamai.gif"></img>
                    </a>
                </div>
				<div class="current_sponsors_list_item">
                    <a href="http://jotafan.com" target="_blank">
                        <img class="hidden-xs hidden-sm" src="/common/img/logo_JOTAFAN.jpg"></img>
                    </a>
                </div>
				<div class="current_sponsors_list_item">
                    <a href="http://aquaform.com.pl" target="_blank">
                        <img class="hidden-xs hidden-sm" src="/common/img/aquaform.png"></img>
                    </a>
                </div>
				<div class="current_sponsors_list_item">
                    <a href="http://pro-rob.pl" target="_blank">
                        <img class="hidden-xs hidden-sm" src="/common/img/pro-rob.jpg"></img>
                    </a>
                </div>
				<div class="current_sponsors_list_item">
                    <a href="http://mpk.krakow.pl" target="_blank">
                        <img class="hidden-xs hidden-sm" src="/common/img/mpk-krakow.jpg"></img>
                    </a>
                </div>
				<div class="current_sponsors_list_item">
                    <a href="https://www.facebook.com/dziorawykociol/" target="_blank">
                        <img class="hidden-xs hidden-sm" src="/common/img/dziorawy_kociol.png"></img>
                    </a>
                </div>
				<div class="current_sponsors_list_item">
                    <a href="https://kamami.pl" target="_blank">
                        <img class="hidden-xs hidden-sm" src="/common/img/kamami.jpg"></img>
                    </a>
                </div>
                <div class="current_sponsors_list_item">
                    <a href="http://botland.com.pl" target="_blank">
                        <img class="hidden-xs hidden-sm" src="/common/img/botland.png"></img>
                    </a>
                </div>
				<div class="current_sponsors_list_item">
                    <a href="http://www.astor.com.pl" target="_blank">
                        <img class="hidden-xs hidden-sm" src="/common/img/astor.png"></img>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <p>
                W organizację zawodów inwestujemy głównie własne siły i pomysły,
				lecz ze względu na dużą liczbę uczestników (zarówno uczniów szkół średnich jak i studentów) gorąco liczymy na Państwa wsparcie.
				Wierzymy, że dla Państwa firmy będzie to wspaniała promocja i reklama.<br/>
				<strong class="pull-down">Pomoc przeznaczymy na:</strong>
                <ul class="list">
                    <li class="list__item">Warsztaty konstrukcji roobtów dla uczniów szkoły</li>
                    <li class="list__item">Druk plakatów i dyplomów</li>
                    <li class="list__item">Zakup upominków</li>
                    <li class="list__item">Nagrody dla uczestników</li>
                </ul>
            </p>
            <p>
                <strong>Formy pomocy:</strong>
                <ul class="list">
                    <li class="list__item">Pieniężna</li>
                    <li class="list__item">Materialna (nagrody rzeczowe lub gadżety firmowe)</li>
					<li class="list__item">Organizacyjna i promocyjna</li>
                    <li class="list__item">Inna według uznania i możliwości</li>
                </ul>
            </p>
            <p>
                <strong>W zamian oferujemy:</strong>
                <ul class="list">
                    <li class="list__item">Reklama podczas zawodów</li>
                    <li class="list__item">Wpis na stronie internetowej szkoły oraz stronie zawodów w sekcji "Sponsorzy"</li>
                    <li class="list__item">Polecanie usług firmy</li>
                    <li class="list__item">
						Możliwość wykorzystania własnych materiałów promocyjnych z tytułem "sponsor" w trakcie trwania zawodów
						(kolportaż wśród uczestników lub punkt promocyjny)
					</li>
                </ul>
            </p>
        </div>
		<br>
		<strong>Jesteśmy otwarci na indywidualną współpracę z Państwa firmą.</strong>
        <div style="clear:both"></div>
		<br>
    </div>
</section>
